.container {
	--sidebar-close-transition: cubic-bezier(0.6, -0.34, 0.72, 1.03) 0.4s;
	--sidebar-open-transition: ease-out 0.3s;
	--sidebar-width: min(50%, 25rem);
	--sidebar-inset: 1rem;

	height: 100vh;
	height: 100dvh;
	display: flex;

	&:where(.sidebarOpen) {
		& .gameWrapper {
			width: calc(100% - var(--sidebar-width) - var(--sidebar-inset));
			transition: width var(--sidebar-open-transition);
		}
		& .sidebarWrapper {
			transform: translateX(0);
			transition: transform var(--sidebar-open-transition);
		}
		& .openSidebarButton {
			transition: right 0.1s linear 0.1s;
			right: calc(-1 * (var(--size) + var(--right-offset)));
		}
	}

	@media (max-width: 900px) {
		--sidebar-inset: 0rem;

		& .gameWrapper{
			width: 100%;
		}
		& .sidebarWrapper {
			width: calc(100% - 2 * var(--sidebar-inset));
		}
	}
}

.gameWrapper {
	width: 100%;
	transition: width var(--sidebar-close-transition);
	transition-timing-function: ease-in;
	padding-inline: var(--sidebar-inset);
}

.sidebarWrapper {
	position: fixed;
	inset: var(--sidebar-inset);
	left: auto;
	width: var(--sidebar-width);
	transform: translateX(calc(100% + var(--sidebar-inset)));
	transition: transform var(--sidebar-close-transition);

	& > div {
		height: 100%;
	}
}

.openSidebarButton {
	--size: 3rem;
	--right-offset: 1rem;
	position: fixed;
	right: var(--right-offset);
	top: calc(50% - var(--size) / 2);
	background-color: var(--primary-text-white);
	padding: 0.75rem;
	height: var(--size);
	width: var(--size);
	transition: right 0.25s cubic-bezier(.42,.45,.3,1.68) 0.5s, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
