.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: min(100%, 55rem);
}

.skipTurnButton {
	height: fit-content;
}

.drawCardButton {
	cursor: default;
	transition: scale 0.2s ease-in-out, rotate 0.2s ease-in-out;
	&.canDraw {
		cursor: pointer;
		&:where(:hover, :focus-visible) {
			scale: 1.05;
			rotate: -1deg;
		}
	}
}

.cardsContainer {
	display: flex;
	flex-shrink: 0;
	gap: 0.5rem;
}