.container {
	display: flex;
	width: 100%;
	justify-content: center;

	&.bottomPosition {
		flex-wrap: wrap;
	}
	&.topPosition {
		transform: rotate(180deg);
		flex-wrap: wrap;
	}
	&.leftPosition {
		transform: rotate(90deg);
	}
	&.rightPosition {
		transform: rotate(270deg);
	}
}

.cardContainer {
	/* margin-left: -2rem; */
	flex-shrink: 0;
}
.cardButtonWrapper {
	display: block;
}
.cardImg {
	/* width: 10rem;
	height: auto; */
}
