.container {
	--header-height: 4.5rem;
	--message-form-height: 5rem;
	--messages-list-height: calc(100% - var(--header-height) - var(--message-form-height));
	--base-padding: 1rem;

	width: 100%;
	background-color: var(--primary-panel-bg);
	height: 100%;
	border-radius: var(--md-border-radius);
	overflow: hidden;
	position: relative;
}

