.header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: var(--base-padding);
}

.headingCloseButtonWrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.buttonGroup {
	display: flex;
	gap: 0.3rem;
}
.button {
	padding: 0.25rem;
	border-radius: 50%;
	color: var(--primary-color);
	border: var(--primary-color) 2px solid;
	background-color: var(--primary-panel-bg);


	& svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}

.popoverContent {
	z-index: 3;
	box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
	border-radius: var(--sm-border-radius);
	background-color: var(--primary-panel-bg);
}
.popoverArrow {
	fill: var(--primary-panel-bg);
	/* box-shadow: 0 0 0.5rem 0.1rem red; */
}