/* TODO: styles */
.button {
	--loader-size: 1.25rem;
	--loader-color: #fff;
	--loader-background-color: transparent;

	border-radius: 0.25rem;
	padding: 0.3rem 1rem;
	transition: background-color 0.15s, color 0.15s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	&.outline {
		background-color: transparent;
		border: 1px solid var(--primary-color);
		color: var(--primary-color);

		&:hover, &:focus-visible {
			background-color: var(--primary-color);
			color: var(--primary-text-white);
		}
	}

	&.filled {
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
		color: var(--primary-text-white);

		&:hover, &:focus-visible {
			background-color: var(--primary-panel-bg);
			color: var(--primary-color);
		}
	}
}

.loader {
	width: var(--loader-size);
	height: var(--loader-size);
	border: calc(var(--loader-size) / 9) solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	animation: loaderAnimation 1s linear infinite;
}

@keyframes loaderAnimation {
  to {
    transform: rotate(360deg);
  }
} 