.button {
	--loader-size: 1.25rem;
	--button-transition: 0.15s ease-in-out;

	border-radius: 0.25rem;
	padding: 0.3rem 1rem;
	transition: background-color var(--button-transition), color var(--button-transition);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	outline-offset: 2px;

	&:disabled {
		cursor: default;
	}

	&:where(.outline) {
		background-color: transparent;
		border: 1px solid var(--primary-color);
		color: var(--primary-color);

		&:not(:disabled):where(:hover, :focus-visible) {
			background-color: var(--primary-color);
			color: var(--primary-text-white);
		}
	}

	&:where(.filled) {
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
		color: var(--primary-text-white);

		&:not(:disabled):where(:hover, :focus-visible) {
			background-color: var(--primary-panel-bg);
			color: var(--primary-color);
		}
	}

	&:where(.light) {
		background-color: var(--primary-text-white);
		border: 1px solid var(--primary-text-white);
		color: var(--primary-color);

		&:not(:disabled):where(:hover, :focus-visible) {
			background-color: var(--primary-color);
			color: var(--primary-text-white);
		}
	}

	&:where(.icon) {
		padding: 0;
	}
}

.loader {
	width: var(--loader-size);
	height: var(--loader-size);
	border: calc(var(--loader-size) / 9) solid currentColor;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	animation: loaderAnimation 1s linear infinite;
	transition: border-color var(--button-transition);
}

@keyframes loaderAnimation {
  to {
    transform: rotate(360deg);
  }
} 