.container {
	background-color: var(--primary-panel-bg);
	border-radius: var(--md-border-radius);
	padding: 1rem;
	position: absolute;
	left: 50%;
	top: min(15rem, 15%);
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
	width: min(90%, 25rem);
}

.actionsContainer {
	display: flex;
	gap: 1rem;
}
.action {
	border-radius: var(--sm-border-radius);
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 600;
	background-color: var(--primary-color);
	color: var(--primary-text-white);
	outline-offset: 2px;
	
	&:hover, &:focus-visible {
		text-decoration-thickness: 1px;
	}
}