.container {
	display: flex;
	width: 100%;
	gap: 0.5rem;
	justify-content: center;
	padding: 0.5rem;

	&.currentPlayer {
		background-color: red;
	}

	&.bottomPosition {
		flex-wrap: wrap;
	}
	&.topPosition {
		rotate: 180deg;
		flex-wrap: wrap;
	}
	&.leftPosition {
		rotate: 90deg;
	}
	&.rightPosition {
		rotate: 270deg;
	}
}

.cardContainer {
	flex-shrink: 0;
}
.cardButtonWrapper {
	display: block;
}
.cardImg {
	/* width: 10rem;
	height: auto; */
}
