.outer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	--padding: 0.5rem;
	display: flex;
	justify-content: center;
	padding: var(--padding);
	flex-wrap: wrap;
	justify-content: center;

	&.currentPlayer {
		--base-gold: 255, 215, 0;
		background-color: rgba(var(--base-gold), 0.6);
		box-shadow: 0 0 4rem rgba(var(--base-gold), 0.7), 0 0 6rem rgba(var(--base-gold), 0.5),
			0 0 7rem rgba(var(--base-gold), 0.3), 0 0 9rem rgba(var(--base-gold), 0.2);
		border-radius: 0.75rem;

		& .cardButtonWrapper:hover,
		& .cardButtonWrapper:focus-visible {
			transform: scale(1.05) translateY(-1rem);
		}
	}
	&:not(.currentPlayer) .cardButtonWrapper {
		cursor: default;
	}
}

.cardContainer {
	flex-shrink: 0;
}
.cardButtonWrapper {
	display: block;
	transition: transform 0.2s ease;
}

.turnIndicator {
  --bg-color: hsl(215, 11%, 48%);
	--text-shadow-1: hsl(214, 13%, 25%);
  --text-shadow-2: hsl(219, 13%, 20%);

	pointer-events: none;
	position: absolute;
	background-color: var(--bg-color);
	color: var(--primary-text-white);
	padding: 0.5rem 2rem;
	border-radius: var(--sm-border-radius);
	font-size: 2rem;
	z-index: 2;
	text-align: center;
	transition: opacity 0.4s ease-in-out 0.4s;

	/* SOURCE: https://css-generators.com/ribbon-shapes/ */
	--r: 2rem;
	padding-inline: calc(var(--r) + 1rem);
	line-height: 1.8;
	clip-path: polygon(
		0 0,
		100% 0,
		calc(100% - var(--r)) 50%,
		100% 100%,
		0 100%,
		var(--r) 50%
	);

	&.ourTurn {
		opacity: 0;
	}
}

.loadingAnimation {
	content: '\2026'; /* ... */
	animation: ellipsis steps(4, end) 2s infinite;
	clip-path: inset(0 100% 0 0);

	&.ourTurn {
		animation: none;
		clip-path: none;
	}
}
@keyframes ellipsis {
	to {
		clip-path: inset(0 -34% 0 0);
	}
}
