.message {
	--icon-size: 2.25rem;
	--icon-text-gap: 0.5rem;
	position: relative;
	padding-left: calc(var(--icon-size) + var(--icon-text-gap));

	.iconContainer {
		position: absolute;
		transform: translateX(calc(-1 * var(--icon-size) - var(--icon-text-gap)));
		width: var(--icon-size);
		display: flex;
		justify-content: center;
	}
}

.username,
.msgText {
	word-break: break-word;
}

.userMessage {
	font-size: 0.875rem;
	&.firstByUser {
		margin-top: 0.5rem;
	}
}

.joinedLeftMessage {
	margin-block: 0.75rem;
}

.iconJoinedLeft {
	width: 1.25rem;
	&.iconJoined {
		color: #008000;
	}
	&.iconLeft {
		color: #ff0000;
	}
}
