.pageContainer {
	display: flex;
	justify-content: center;
	padding-block: min(20vh, 10rem);
}

.form {
	background-color: var(--primary-panel-bg);
	padding: 2rem min(2rem, 7.5%);
	border-radius: var(--md-border-radius);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: min(95%, 20rem);
}

.randomNameButton {
	position: absolute;
	inset: 0;
	left: auto;
	aspect-ratio: 1;
	height: 100%;
	padding: 0;
}